body {
  background: url(https://i.pinimg.com/originals/59/2c/29/592c29f9c88063dc3870739854ab26e8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Metal Mania', cursive;
}

td {
  color: white
}

.date {
  margin-top: 5%;
}

.dateAmount {
  font-size: 150%;
}

.pie {
  margin-top: 5%;
  background-color: rgba(255,0,0,0.2);
}

.delete {
  margin-top: 5%;
  margin-bottom: 5%;
}

.mainPageTitle {
  font-size: 300%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hide {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
